{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h2>Actualizar Estado del Pedido</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="estado">Nuevo Estado:</label>
            <select id="estado" name="estado" class="form-control">
                <option value="pendiente" {% if pedido.estado == 'pendiente' %}selected{% endif %}>Pendiente</option>
                <option value="enviado" {% if pedido.estado == 'enviado' %}selected{% endif %}>Enviado</option>
                <option value="entregado" {% if pedido.estado == 'entregado' %}selected{% endif %}>Entregado</option>
                <option value="cancelado" {% if pedido.estado == 'cancelado' %}selected{% endif %}>Cancelado</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>
{% endblock %}
